{% extends "layout.html" %}

{% block title %}
Histórico
{% endblock %}

{% block main %}
{% if orders %}
    <div class="py-1 my-1">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-info">
                    <th colspan="3">
                        Resumo do histórico
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="2">Desde:</th>
                    <td>{{ since }}</td>
                </tr>
                <tr>
                    <th colspan="2">Número de pedidos:</th>
                    <td>{{ orders | length }}</td>
                </tr>
                <tr>
                    <th colspan="2">Total: </th>
                    <td>{{ total | brl }}</td>
                </tr>
            </tbody>
        </table>
{% endif %}
{% from "macros.html" import display_orders %}
{{ display_orders(orders=orders, order_products=order_products, context="history") }}
{% endblock %}
