{% extends "layout.html" %}

{% block title %}
Incrementar pedido
{% endblock %}

{% block main %}
    <form action="/increment-order" method="post">
        <span>
            <input type="hidden" name="order-id" value="{{ order_id }}">
        </span>
        <div class="py-1 my-1">
            <table class="table table-bordered table-striped">
                <thead class="table-success">
                    <tr>
                        <th colspan="3">Pedido N.º{{ order.id }}
                            {% if order.table_number %}
                            - Mesa {{ order.table_number }}
                            {% endif %}
                            {% if order.customer_name %}
                            - {{ order.customer_name | capitalize }}
                            {% endif %}
                        </th>
                    </tr>
                </thead>
            {% for type in products %}
                <thead class="thead-dark">
                    <tr>
                        <th colspan="3">{{ type.type | capitalize }}</th>
                    </tr>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in type.products %}
                <tr>
                    <td>{{product.product_name | capitalize }}</td>
                    <td>{{ product.price | brl }}</td>
                    <td>
                            <div class="mx-auto" style="max-width: 4rem;">
                            <input class="form-control" name="{{ product.id }}" style="max-width: 4rem;" type="number">
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
        {% endfor %}
            </table>
        </div>
        <button class="border btn btn-success" type="submit">Confirmar Incremento</button>
    </form>
{% endblock %}
