{% extends "layout.html" %}

{% block title %}
Gerenciar
{% endblock %}

{% block main %}

{% for product_type in product_types %}
<div class="m-1 p-1">
	<table class="table table-bordered table-striped">
		<thead>
			<tr class="table-primary">
				<th colspan="3">{{ product_type.product_type | capitalize }}</th>
			</tr>
			{% if product_type.products %}
			<tr>
				<th>Produto</th>
				<th>Preço</th>
				<th>Opção</th>
			</tr>
		</thead>
		<tbody>
		{% for product in product_type.products %}
		<tr>
			<td>{{ product.product_name | capitalize }}</td>
			<td>{{ product.price | brl }}</td>
			<td>
				<form action="/manage-details" method="get">
					<input type="hidden" name="product-id" value="{{ product.id }}">
					<button class="border btn mx-auto" type="submit">Editar</button>
				</form>
			</td>
		</tr>
		{% endfor %}
			{% else %}
		</thead>
			{% endif %}
		<tfoot>
			<tr>
				<td colspan="3">
					<div class="mx-auto">
						<table class="table table-borderless m-0">
							<tr>
								<td class="p-0">
									<form action="/manage-details" method="get">
										<input type="hidden" name="product-type-id" value="{{ product_type.id }}">
										<button class="border btn btn-warning mx-auto" type="submit">Editar</button>
									</form>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
{% endfor %}

{% endblock %}
