{% extends "layout.html" %}

{% block title %}
Editar produto
{% endblock %}

{% block main %}
<div class="mt-3">
    <form action="/manage/new/product" method="post">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-primary">
                    <td colspan="2" >
                        Novo produto
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Nome do produto:</th>
                    <td>
                        <div>
                            <input class="form-control" name="product-name" type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        Preço: (centavos)
                    </th>
                    <td>
                        <div>
                            <input class="form-control" name="product-price" type="number"">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Tipo de produto</th>
                    <td>
                        <div>
                            <select class="form-control" name="product-type" required>
                                <option disabled selected value="">Tipo de produto</option>
                                {% for product_type in product_types %}
                                <option value="{{ product_type.id }}">{{ product_type.type_name | capitalize }}</option>
                                {% endfor %}
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <button class="border btn btn-primary" type="submit">Criar produto</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
{% endblock %}
