{% extends "layout.html" %}

{% block title %}
Editar produto
{% endblock %}

{% block main %}
<div class="mt-3">
    <form action="/products/edit" method="post">
        <input class="form-control" name="product-type-id" type="hidden" value="{{ product_type.id }}">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-warning">
                    <td colspan="2" >
                        Tipo de produto N.º{{ product_type.id }}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Nome do tipo:</th>
                    <td>
                        <div>
                            <input class="form-control" name="type-name" type="text" value="{{ product_type.type_name }}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Status do tipo:</th>
                    <td>
                        <select class="form-control" name="type-status">
                            {% if product_type.type_status == "active" %}
                            <option value="active" selected>Ativo</option>
                            <option value="inactive">Inativo</option>
                            {% else %}
                            <option value="active">Ativo</option>
                            <option value="inactive" selected>Inativo</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <button class="border btn btn-warning" type="submit">Confirmar Edição</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<div class="my-5">
</div>
{% endblock %}
